@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    position: relative;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    background: #ededed//#1c1e3a;
}

body >* {
    padding: 7vw;
}

h1 {
    font-weight: 700;
}

h3 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 53%, rgba(255,255,255,0.1) 100%);
}

button {
    font-family: "Roboto", sans-serif;
}

.desc {
    font-weight: 300;
    margin: 0;
    color: #9d9d9d;
}

.report {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: auto;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.5rem;
    color: #fff;
    padding: 7vw;
}

.retry-btn {
    display: none;
    width: 75%;
    height: 6.5vh;
    background: #fffff1;
    border: none;
    border-radius: 32px;
    font-size: 1.2rem;
    font-weight: 300;
}

.predict-btn {
    display: none;
    width: 75%;
    height: 6.5vh;
    border: none;
    border-radius: 32px;
    background: rgb(88,237,117);
    background: linear-gradient(30deg, rgba(88,237,117,1) 6%, rgba(19,166,60,1) 100%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
}

.predict-btn, .retry-btn {
    cursor: pointer;
    box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.16);//0px 1px 5px rgba(0, 0, 0, 0.16);
}

#file-wrapper {
    display: none;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: auto;
    align-items: center;
}

.item {
    position: absolute;
    clip: rect(10px, 190px, 190px, 10px);
    }
  

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: -1.8rem;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    flex: auto;
    border-radius: 28px;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    padding: 0vw 7vw;
}

main[data-state^=preload] {
    display: none;
    .content-wrapper {
        box-shadow: none;
    }
}

main[data-state^=idle] { 
    #file-wrapper {
        display: flex;
    }
}

main[data-state^=staged] {
    .predict-btn {
        display: block;
    }
    .content-wrapper {
        box-shadow: 0px 5px 17px 4px rgba(0, 0, 0, 0.16);
    }
}

main[data-state^=processing] {
    background-color: black;

    .content {
        filter: brightness(0.5);
    }
    .content-wrapper {
        box-shadow: 0px 5px 17px 4px rgba(0, 0, 0, 0.16);
    }
}

main[data-state^=finished] {
    .retry-btn {
        display: block;
    }
    .report {
        display: flex;
    }
    .content {
        filter: brightness(0.5);
    }
    .content-wrapper {
        box-shadow: 0px 5px 17px 4px rgba(0, 0, 0, 0.16);
    }
}

/* custom input */
.btn-wrapper {
    width: 75%;
    height: 6.5vh;
    border-radius: 32px;
    display: flex;
    background: #0C2C14;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
  
.btn-wrapper span.label {
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
}
  
#file-input {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 6.5vh;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}


/* Loader animation. Code credits to: https://codepen.io/wang0nya/pen/bzwQPr */
#loader:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #loader::after {
    content: "";
    width: 100px;
    height: 100px;
    border: 1px solid #f3f3f3;
    border-top: 5px solid #11c511;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops, desktops) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
    main {
        grid-template-rows: repeat(2, 1fr);
    }
}



/* @media (min-height: 680px), screen and (orientation: portrait) {} */